@mixin buttonLeftSide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap : 10px;
  background: #000;
  width: 250px;
  height: 45px;
  color: #fff;
  padding: 10px 5px;

  &:hover{
    background: #262626;
    transition: all ease 350ms;
  }

  border-radius: 4px;
  cursor: pointer;

  img{
    width: 24px;
    height: 24px;
  }
}


body{
  padding: 35px;

  .containerPrincipal{
    display: flex;
    justify-content: space-evenly;
    transition:  all ease 1s;

    .leftSide{
      width: 100%;
      display: flex;
      flex-direction: column;
      gap : 25px;
      .addButton, .settingButton{
        @include buttonLeftSide;

      }
    }
    .centerSide{
      display : flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap:  15px;
      width: 100%;


    }

    .rigthSide{
      width: 100%;
      display: flex;
      flex-direction: column;

      .miniNav{

        display: flex;
        align-items: center;
        justify-content: center;
        gap : 5px;
        img{
          width: 16px;
          height: 16px;
        }
        span{
          font-weight: 600;
        }

      }

    }
  }

}

