@import '../../../styles.scss';

.container{
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap :25px;
  width: 100%;
  height: 100vh;
  .figure-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1{
      font-size: 36pt;
    }
    img{
      width: 350px;
      height: 400px;
    }
    span{
      font-size: 14pt;
    }
  }

  .backButton{
    @include buttonLeftSide;
  }
}
