<div>

  <div class="post" id="post" [style.display]="displayPost">

    <span>{{post.title}}</span>

    <p>
      {{post.description}}
    </p>

    <div class="informacoes">
      <span class="postTime"> Postado em : {{post.createdAt | date:'dd/mm/yyy hh:mm'}} AM</span>
      <span class="edited" *ngIf="post.isEdited===1">(Editado)</span>
    </div>


    <div class="buttons">

      <div>
        <img src="../../assets/icons/edit.png" alt="">
        <span (click)="updatePost()" >Editar</span>
      </div>

      <div>
        <img src="../../assets/icons/delete.png" alt="">
        <span (click)="deletePost()">Excluir</span>
      </div>

    </div>

</div >


<div *ngIf="editar">
  <app-post-edit id="postEdit" [updateBtn]="true" [post]=post (retorno)="returnUpdatePost($event)"> </app-post-edit>
</div>


</div>
